---
layout: default
meta: Tiene fogones la cosa es un blog de cocina con muchas recetas deliciosas y mucho más.
title: Tiene Fogones la Cosa
id: index
---

<ul class="recipes-list layout__wrapper">
	{% assign recipes = site.recipes | sort: 'date' | reverse %}
	{% for recipe in recipes %}

	{% if forloop.first == true %}
	<li class="recipes-list__item recipes-list__item--first">
		<a href="{{recipe.url}}" class="recipe-listing recipe-listing--first">
			<div class="recipe-listing__thumbnail img-box">
				<img src="/assets/img/uploads/{{recipe.thumbnail}}" class="img-box__img">
			</div>

			<div class="recipe-listing__content">
				<h2 class="recipe-listing__title">{{recipe.title}}</h2>

				<ul class="recipe-meta">
					<li class="recipe-meta__item"><span class="recipe-listing__category">{{recipe.category}}</span></li>
					<li class="recipe-meta__item"><span class="recipe-listing__difficulty">{{recipe.difficulty}}</span></li>
				</ul>

				<!-- Only if enhanced -->
				<span class="btn recipe-listing__btn">Ver receta</span>
			</div>
		</a>
	</li>
	{% else %}


	<li class="recipes-list__item">
		<a href="{{recipe.url}}" class="recipe-listing">
			<div class="recipe-listing__thumbnail img-box">
				<img src="/assets/img/uploads/{{recipe.thumbnail}}" class="img-box__img">
			</div>

			<div class="recipe-listing__content">
				<h2 class="recipe-listing__title">{{recipe.title}}</h2>

				<ul class="recipe-meta">
					<li class="recipe-meta__item"><span class="recipe-listing__category">{{recipe.category}}</span></li>
					<li class="recipe-meta__item"><span class="recipe-listing__difficulty">{{recipe.difficulty}}</span></li>
				</ul>
			</div>
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
