---
# tienefogoneslacosa.com styles
---


$font: 'Roboto', Arial, sans-serif;
$secondaryFont: 'Roboto Mono', Courier, monospace;
$bodyFont: $font;
$headingsFont: $secondaryFont;

$black: #080808;
$notBlack: #777;
$lightBlack: #0D1B1E;

$breakedWhite: #FCFFF7;

$lightGray: #f3f3f3;
$mediumGray: #ccc;

$breadBrown: #F4F2EB;
$integralBrown: #E4E0D3;
$notBrown: #C3B99D;
$coffeBrown: #9A864C;
$cherryRed: #A62727;

$primaryColor: $cherryRed;

$bodyBg: $breadBrown;

// Spacing (generally for margins)
$xxxsmallSpace: .25rem;
$xxsmallSpace: .5rem;
$xsmallSpace: .75rem;
$smallSpace: 1.25rem;
$space: 2.5rem;
$mediumSpace: 3.75rem;
$largeSpace: 6.25rem;

$columnGutter: 1rem;


// MIXINS
@import 'mixins/media';

// GENERAL
@import 'normalize';

// ELEMENTS


// General
body {
	background: $bodyBg;
	font-family: $bodyFont;
	color: $black;
	padding: 0 1rem;
	line-height: 1.6;
	box-sizing: border-box;
	max-width: 62em;
	margin: 0 auto;

	* {
		box-sizing: border-box;
	}
}

h1,
h2,
h3,
h4 {
	font-family: $headingsFont;
	margin-top: 2rem;
	margin-bottom: 0;
	line-height: 1.2;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: $cherryRed;
	}
}

// IMG BOX
.img-box {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;

	&__img {
		width: 100%;
		height: auto;
	}
}


// HEADER
.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	align-items: center;

	&__logo {
		font-family: $font;
		text-decoration: none;
		font-size: 1.5em;
		color: $black;
	}

	&__nav {
		margin-right: 0;
	}
}

// NAV
.nav {
	font-family: $secondaryFont;
	padding: 0;
	margin: 0;

	&__item {
		list-style: none;
	}

	&__link {
		color: $black;
		text-decoration: none;
	}
}



// RECIPES LIST
.recipes-list {
	padding: 0;
	margin: 0;

	@media (min-width: 44em) {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		list-style: none;
		margin-top: 3rem;

		@media (min-width: 44em) {
			width: (100/12)*6%;
			padding-right: $columnGutter;
			padding-left: $columnGutter;
		}

		&--first {
			margin-top: 0;

			@media (min-width: 44em) {
				width: 100%;
			}
		}
	}
}



// RECIPE LISTING
.recipe-listing {
	display: block;
	text-decoration: none;
	color: $black;

	&:hover {
		text-decoration: none;

		.recipe-listing__thumbnail {
			opacity: 0.9;
		}

		.recipe-listing__title {
			color: $cherryRed;
		}
	}

	&--first {

		@media (min-width: 44em) {
			display: flex;
			align-items: center;

			.recipe-listing__thumbnail {
				// width: (100/12)*8%;
				flex-grow: 2;
			}

			.recipe-listing__content {
				// width: (100/12)*4%;
				flex-grow: 1;
				margin-left: -100px;
				z-index: 1;
			}
		}

		.recipe-listing__thumbnail {
			position: relative;

			@media (min-width: 44em) {
				height: 320px;
			}

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100px;
				position: absolute;
				bottom: 0;
				background: rgb(244,242,235);
				background: -moz-linear-gradient(0deg, rgba(244,242,235,1) 0%, rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(0deg, rgba(244,242,235,1) 0%, rgba(255,255,255,0) 100%);
				background: linear-gradient(0deg, rgba(244,242,235,1) 0%, rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f2eb",endColorstr="#ffffff",GradientType=1);

				@media (min-width: 44em) {
					right: 0;
					height: 100%;
					width: 55%;
					background: rgb(244,242,235);
					background: -moz-linear-gradient(270deg, rgba(244,242,235,1) 0%, rgba(255,255,255,0) 100%);
					background: -webkit-linear-gradient(270deg, rgba(244,242,235,1) 0%, rgba(255,255,255,0) 100%);
					background: linear-gradient(270deg, rgba(244,242,235,1) 0%, rgba(255,255,255,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f2eb",endColorstr="#ffffff",GradientType=1);
				}
			}
		}

		.recipe-listing__title {
			font-size: 2.5em;
		}
	}

	&__thumbnail {
		height: 240px;
	}

	&__content {}

		&__title {
			font-size: 1.5em;
			margin-top: 1rem;
			margin-bottom: 0;
		}

		&__btn {
			margin-top: 1rem;
		}
}




// RECIPE META
.recipe-meta {
	font-size: 0.875em;
	padding: 0;
	margin-top: 0.5rem;
	margin-bottom: 0;

	&__item {
		list-style: none;
		display: inline-block;
		text-transform: capitalize;

		&:before {
			content: '';
			display: inline-block;
			margin-right: 0.5rem;
			margin-left: 0.4rem;
			width: 4px;
			height: 4px;
			background: $black;
			border-radius: 2px;
			vertical-align: middle;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}




// BUTTONS
.btn {
	padding: 1em;
	background: $cherryRed;
	color: #fff;
	display: inline-block;
	width: auto;
}





// RECIPE
.recipe {
	&__hero-img {
		height: 320px;
	}

	&__title {
		text-align: center;
		font-size: 2em;
		line-height: 1.2;
		width: (100/12)*11%;
		margin: 1rem auto 0;

		@media (min-width: 44em) {
			font-size: 3em;
			width: (100/12)*9%;
		}
	}

	&__meta {
		text-align: center;
		font-size: 0.875em;
		margin-top: 0.5rem;
	}

	&__content {
		font-size: 1.125em;
	}

	&__ingredients-box {
		background: $integralBrown;
		padding: 1rem;
		margin-top: 1rem;
	}

		&__ingredients-box-title {
			margin: 0;
			font-size: 1.25em;
		}

		&__ingredients-title {
			margin-top: 1rem;
			margin-bottom: 0;
			font-size: 1em;
		}

		&__ingredients {
			padding: 0;
			margin-top: 0.5rem;
			margin-bottom: 0;
			font-size: 0.875em;

			@media (min-width: 44em) {
				font-size: 1em;
			}
		}

			&__ingredient {
				list-style: none;
				margin-top: 0.25rem;
			}

	&__elaboration {}

		&__steps-title {
			margin-top: 2rem;
			margin-bottom: 0;
		}

		&__steps {
			counter-reset: step-counter;
			margin: 0;
			padding: 0;
		}

			&__step {
				counter-increment: step-counter;
				list-style: none;
				display: flex;
				font-size: 1.125em;
				margin-top: 1.5rem;

				&:before {
					content: counter(step-counter);
					font-size: 2.25em;
					line-height: 1;
					margin-right: 1rem;
					font-family: $secondaryFont;
				}
			}

	&__prev-next {
		margin-top: 3rem;
		font-size: 0.75em;
		display: flex;
		justify-content: space-between;

		padding: 2rem 1rem 0;
		border-top: 2px solid $integralBrown;

		@media (min-width: 44em) {
			font-size: 1em;
		}
	}

		&__prev-next-link {
			display: block;
			text-decoration: none;
			color: $black;
			width: 50%;

			&--next {
				margin-left: $columnGutter * 2;
				text-align: right;
			}
		}

			&__prev-next-heading {
				color: $notBrown;
				text-transform: uppercase;
			}

			&__prev-next-title {
				margin-top: 0;
			}


}

// LAYOUT
.layout {
	&__wrapper {
		@media (min-width: 44em) {
			display: flex;
			justify-content: space-between;

			margin-right: -$columnGutter;
			margin-left: -$columnGutter;
		}
	}

	&__sidebar {
		@media (min-width: 44em) {
			width: (100/12)*4%;
			padding-right: $columnGutter;
			padding-left: $columnGutter;
		}
	}

	&__content {
		@media (min-width: 44em) {
			width: (100/12)*8%;
			padding-right: $columnGutter;
			padding-left: $columnGutter;
		}
	}

	&__title {
		font-size: 3em;
		margin-top: 3rem;
		margin-bottom: 0;
		line-height: 1.2;
	}
}


// FOOTER
.footer {
	background: $integralBrown;
	padding: 1em;
	margin-top: 3rem;
	color: $black;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__social {
		margin: 0;
		padding: 0;
	}

		&__social-item {
			list-style: none;
			display: inline-block;

			&:before {
				content: '';
				display: inline-block;
				margin-right: 0.5rem;
				margin-left: 0.5rem;
				width: 4px;
				height: 4px;
				background: $black;
				border-radius: 2px;
				vertical-align: middle;
			}

			&:first-child {
				&:before {
					display: none;
				}
			}
		}

			&__social-link {
				color: $black;
				text-decoration: none;

				&:hover {
					color: $cherryRed;
				}
			}
}



//
// SOCIAL SHARE
//

.social-share {
	position: relative;
	max-width: 40rem;
	margin-top: 3rem;

	&__title {
		margin: 0;
	}

	&__social-list {
		margin-top: 1rem;
		margin-bottom: 0;
		padding: 0;
		display: inline-block;
		display: flex;
		justify-content: space-between;
	}

		&__social-item {
			display: block;
			list-style: none;
			width: (100/12)*4%;
			margin-left: 1rem;

			&:first-child {
				margin-left: 0;
			}
		}

			&__social-link {
				padding: 0.5rem;
				display: block;
				color: #fff;
				font-size: 2em;
				text-align: center;
				line-height: 1;

				&:hover {
					color: #fff;
				}

				&--twitter {
					background: #1da1f2;

					&:hover {
						background: mix(white, #1da1f2, 30%);
					}
				}

				&--facebook {
					background: #3b5998;

					&:hover {
						background: mix(white, #3b5998, 30%);
					}
				}

				&--pinterest {
					background: #bd081c;

					&:hover {
						background: mix(white, #bd081c, 30%);
					}
				}

				.fa {
					display: inline-block;
				}
			}
}

