---
layout: default
---

<div class="recipe" itemscope itemtype="http://schema.org/Recipe">
	<div class="recipe__hero-img img-box"><img src="/assets/img/uploads/{{page.thumbnail}}" alt="Imagen de {{page.title}}" class="img-box__img" itemprop="image"></div>

	<h1 class="recipe__title" itemprop="name">{{page.title}}</h1>

	<meta itemprop="datePublished" content="{{page.date}}">
	<meta itemprop="keywords" content="{% for tag in page.tags %}{% if forloop.last %}{{ tag }}{% else %}{{tag}}, {% endif %}{% endfor %}">



	<ul class="recipe__meta recipe-meta">
		<li class="recipe-meta__item"><span class="recipe-listing__category" itemprop="recipeCategory">{{page.category}}</span></li>
		<li class="recipe-meta__item"><span class="recipe-listing__difficulty">{{page.difficulty}}</span></li>
	</ul>

	<div class="layout__wrapper">
		<div class="recipe__sidebar layout__sidebar">
			<div class="recipe__ingredients-box">
				<h3 class="recipe__ingredients-box-title">Ingredientes</h3>
				{% for ingredients-list in page.recipe-ingredients %}
					<h4 class="recipe__ingredients-title">{{ingredients-list.ingredients-list-title}}</h4>
					<ul class="recipe__ingredients">
						{% for ingredient in ingredients-list.ingredients %}
							<li class="recipe__ingredient" itemprop="recipeIngredient">{{ingredient}}</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>

			<div class="news-subscription news-subscription--sidebar">
				<h3 class="news-subscription__heading">Subscríbete a la newsletter</h3>
				<p class="news-subscription__text">Recibe las últimas recetas y mantente al día de las últimas noticias.</p>

				<form class="news-subscription__form form" id="new_subscriber" action="https://tienefogoneslacosa.ipzmarketing.com/f/5W4oiNqU0H8" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
					<label class="news-subscription__label form__label" for="subscriber_email">
						<input class="form__input" type="email" required name="subscriber[email]" placeholder="Tu email" id="subscriber_email" />
					</label>
					<input type="text" name="anotheremail" id="anotheremail" style="position: absolute; left: -5000px" tabindex="-1" autocomplete="off" />

					<input class="btn form__submit-btn news-subscription__submit clicky_log__email_sub" type="submit" name="commit" value="Subscríbeme!" data-disable-with="Processing" />
				</form>
			</div>
		</div>


		<div class="recipe__content layout__content">
			<div itemprop="description">{{page.content}}</div>

			<div class="recipe__elaboration" itemprop="recipeInstructions" itemscope itemtype="http://schema.org/HowTo">
				{% for elaboration-group in page.elaboration %}
					<div class="recipe__steps-group" itemprop="step" itemscope itemtype="http://schema.org/HowToSection">
						<h2 class="recipe__steps-title" itemprop="name">{{elaboration-group.group-title}}</h2>
						<ol class="recipe__steps">
							{% assign steps = elaboration-group.steps %}
							{% for step in steps %}
								<li class="recipe__step" itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection">
									<meta itemprop="position" content="{{ forloop.index }}"/>
									<span itemprop="text">{{step}}</span>
								</li>
							{% endfor %}
						</ol>
					</div>
				{% endfor %}
			</div>

			<img src="/assets/img/uploads/{{page.thumbnail}}" alt="Imagen de {{page.title}}" class="recipe__main-img" itemprop="image">

			<!-- Social Share -->
			<div class="recipe__social-share social-share">
				<h4 class="social-share__title">Te ha gustado la receta? Compártela!</h4>

				<ul class="social-share__social-list">
					<li class="social-share__social-item">
						<a class="social-share__social-link social-share__social-link--twitter clicky_log_twitter_share" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=400,top=400,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Compartir {{page.title}} en Twitter"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="social-share__social-item">
						<a class="social-share__social-link social-share__social-link--facebook clicky_log_facebook_share" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=400,top=400,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Compartir {{page.title}} en Facebook"><i class="fab fa-facebook"></i></a>
					</li>
					<li class="social-share__social-item">
						<a class="social-share__social-link social-share__social-link--pinterest clicky_log_pinterest_share" href="https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ site.baseurl }}{{ page.url }}&description={{ page.title }}" onclick="window.open(this.href, 'pop-up', 'left=400,top=400,width=700,height=700,toolbar=1,resizable=0'); return false;"
						title="Compartir {{page.title}} en Pinteres"><i class="fab fa-pinterest"></i></a>
					</li>
				</ul>
			</div>

			<div class="news-subscription news-subscription--body">
				<h3 class="news-subscription__heading">Subscribete a la newsletter</h3>
				<p class="news-subscription__text">Recive las últimas recetas y mantente al día de las últimas notícias.</p>

				<form class="news-subscription__form form" id="new_subscriber" action="https://tienefogoneslacosa.ipzmarketing.com/f/5W4oiNqU0H8" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
					<label class="news-subscription__label form__label" for="subscriber_email">
						<input class="form__input" type="email" required name="subscriber[email]" placeholder="Tu email" id="subscriber_email" />
					</label>
					<input type="text" name="anotheremail" id="anotheremail" style="position: absolute; left: -5000px" tabindex="-1" autocomplete="off" />

					<input class="btn form__submit-btn news-subscription__submit clicky_log_email_sub" type="submit" name="commit" value="Subscribeme!" data-disable-with="Processing" />
				</form>
			</div>

			<!-- Next and prev recipes -->
			{% assign recipes = site.recipes | sort: 'date' %}
			{% for recipe in recipes %}
			{% if recipe.title == page.title %}
				{% assign prevUrl = prev.url %}
				{% assign prevTitle = prev.title %}
				{% assign next = recipes[forloop.index] %}
				{% assign nextURL = next.url %}
				{% assign nextTitle = next.title %}
			{% endif %}
			{% assign prev = recipe %}
			{% endfor %}

			<div class="recipe__prev-next">
				{% if recipes.size > 1 %}
					{% if prevUrl and prevTitle %}
						<a class="recipe__prev-next-link" href="{{prevUrl}}">
							<span class="recipe__prev-next-heading"><i class="fal fa-long-arrow-left"></i> Receta anterior</span>
							<h2 class="recipe__prev-next-title">{{prevTitle}}</h2>
						</a>
					{% endif %}
					{% if nextURL and nextTitle %}
						<a class="recipe__prev-next-link recipe__prev-next-link--next" href="{{nextURL}}">
							<span class="recipe__prev-next-heading">Siguiente receta <i class="fal fa-long-arrow-right"></i></span>
							<h2 class="recipe__prev-next-title">{{nextTitle}}</h2>
						</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>




{% comment %}
	{% for tag in page.tags %}
	    <a href="/tags/{{ tag }}/">{{ tag }}</a>
	{% endfor %}
{% endcomment %}
</div>


